<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>运维在线</title>
</head>

<body>
<div class="" style="width:700px; margin:0 auto; height:100px;">
	<p>Copyright &copy; 2018 运维在线. All Rights Reserved</p>
    <p style="text-align:center;">
		<a href="http://www.miitbeian.gov.cn" target="_blank">渝ICP备17014377号-2</a>
	</p>
</div>
</body>
</html>