<style type="text/css">
.footer { background:#ecf0f1;padding-top:40px; padding-bottom:44px; }
.footer a { color:#747b81; text-decoration:none; }
.footer dl { float:left; padding-right:85px; }
.footer dl dt { padding-bottom:25px; font-size:18px; }
.footer dl dd { padding-bottom:20px; font-size:14px; }

.footer .copyright { font-size:14px; color:#747b81; }
</style>
<div class="footer">
	<div class="box">
		<div class="clearfix">
			<dl>
				<dt>了解更多</dt>
				<dd><a href="">街景地图</a></dd>
			</dl>
			<dl>
				<dt>关注我们</dt>
				<dd><a href="">微信</a></dd>
				<dd><a href="">微博</a></dd>
			</dl>
			<dl>
				<dt>加入我们</dt>
				<dd><a href="">社会招聘</a></dd>
				<dd><a href="">校园招聘</a></dd>
			</dl>
			<dl>
				<dt>联系我们</dt>
				<dd><a href="">客户服务</a></dd>
				<dd><a href="">洽谈合作</a></dd>
			</dl>
			<dl>
				<dt>法律信息</dt>
				<dd><a href="">服务协议</a></dd>
				<dd><a href="">隐私政策</a></dd>
				<dd><a href="">知识产权</a></dd>
			</dl>
		</div>
		<div class="copyright clearfix">
			<div class="fn_left">
				<a href="">法律声明</a>
				<a href="">监督举报</a>
				<a href="">网站地图</a>
				<a href="">粤网文【2017】6138-1456号</a>
			</div>
			<div class="fn_right">
				Copyright &copy 2003 - 2018 Kaiminclan. All Rights Reserved.三竹技术 版权所有
			</div>
		</div>
	</div>
</div>
</body>
</html>
