<template file="top" />
<template file="header_main" />
<div class="header clearfix">
	<div class="fn_left clearfix">
	<div class="logo fn_left">博创</div>
	<div class="fn_left">
		<template file="menu" />
	</div>
	</div>
	<div class="fn_right">
		<div class="search"></div>
		<div class="user"></div>
		<div class="shortcut">
			<span>三</span>
			<template file="menu" />
		</div>
	</div>
</div>
<div class="flash"></div>
<div class="popularize">
	<div class="box">
		<div class="title">博创 本周活动</div>
		<div class="list clearfix">
			<div class="item">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>数据纷繁复杂，灵活搭配乃解决之道 存储管理难题，一击即中！</h3>
				<p>数据浩瀚如烟难以把控，一味添加设备来“硬刚”？No！采用灵活搭配的软件以柔克刚方为正道。 IBM 存储软件家族 16大高手各显神通，灵活搭配，全面满足您多云、开放、安全、AI 负载的现代架构需求。</p>
				<a href="">点击查看详情</a>
			</div>
			<div class="item">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>云际智旅：IBM Cloud 创新行动周</h3>
				<p>2019年 1月 15日 - 18日，IBM Cloud 将倾力为您打造一场“云际智旅”， 四天九站，左手 Cloud，右手 AI，一路安全畅行，抵达智慧商业的终点站！</p>
				<a href="">点击查看详情</a>
			</div>
			<div class="item item-last">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>IBM 存储首档 IT 谈话栏目《面授机宜 》 柔合之道 存储家宴 2019 IBM 存储新春线上大团圆 </h3>
				<p>春节来临之际，IBM 存储邀请您参加一场不寻常的“家宴”。听 IBM 存储专家与业界达人与您一起探讨数据管理的“柔合之道”。看 特级面点大师与 IBM 存储如何碰撞出智慧的美食。面授机宜，助您攻克数据管理难关。</p>
				<a href="">点击查看详情</a>
			</div>
		</div>
	</div>
</div>
<div class="perceive">
	<div class="box">
		<div class="title">迈入认知商业时代</div>
		<div class="note">了解当数字智能与<br />数字业务结合时会发生什么</div>
		<div class="list clearfix">
			<div class="item">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>实现前所未有的突破</h3>
				<p>当您以全新方式将数据连结在一起，即可获得全新洞察。</p>
				<a href="">点击查看详情</a>
			</div>
			<div class="item">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>认知型车联网</h3>
				<p>您能否设想汽车可用于监测瓦斯泄漏、保障家庭安全、寻找遗失宠物？</p>
				<a href="">点击查看详情</a>
			</div>
			<div class="item item-last">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>感知人体动作，改善健康状况 </h3>
				<p>人工智能应用于人体动作的感知，将有机会改变很多病人的命运。</p>
				<a href="">点击查看详情</a>
			</div>
		</div>
			<div>了解更多认知内容</div>
	</div>
</div>
<div class="product">
	<div class="box clearfix">
		<div class="head">探索最热产品试用</div>
		<div class="list">
			<div class="item">
				<img src="/img/bcrj/t3-spss-statistics_434x259.png" />
				<h3>IBM Cloud Private – 不同于任何私有云</h2>
				<p>IBM Cloud Private 是 IBM 重磅推出的安全可控的容器云平台，以开源为基础，结合区块链等前沿技术，支持创建原生云应用的企业级私有云。</p>
				<a href="">点击开始免费试用</a>
			</div>
			<div class="item">
				<img src="/img/bcrj/trial2-Web-Sphere-Application-server-434x259.png" />
				<h3>IBM WebSphere Application Server 应用服务器</h2>
				<p>IBM 在云平台上推出了最新一代的 IBM WebSphere 应用服务,客户现在可以通过 IBM Cloud Private 在基于 Kubernetes 的生产就绪型容器编排系统中部署基于 Docker 容器的应用。</p>
				<a href="">点击开始免费试用</a>
			</div>
			<div class="item">
				<img src="/img/bcrj/trials1_Cloud_Private_434x259.png" />
				<h3>IBM Db2 数据库</h2>
				<p>IBM Db2 与 IBM Cloud Private, 打造企业私有云环境下, 灵活, 安全, 高可用的数据管理方案。</p>
				<a href="">点击开始免费试用</a>
			</div>
		</div>
	</div>
</div>
<div class="wisdom">
	<div class="box">
	<div class="title">如何让您的业务变得更加智慧</div>
	<div class="list clearfix">
		<div class="item">大数据与分析</div>
		<div class="item">云计算</div>
		<div class="item">认知商务</div>
		<div class="item">社交协作与人才管理</div>
		<div class="item">安全</div>
		<div class="item">融资</div>
		<div class="item">IT 基础架构</div>
	</div>
	</div>
</div>
<div class="help">
	<div class="box">
	<div class="title">是否需要更多帮助？</div>
	<div class="list clearfix">
		<div class="item">门户站</div>
		<div class="item">知识库</div>
		<div class="item">红皮书</div>
		<div class="item">在线社区</div>
		<div class="item">研究院</div>
	</div>
	</div>
</div>
<template file="bottom" />