<ul class="menu">
	<li><a href="">产品</a></li>
	<li><a href="">服务</a></li>
	<li><a href="">行业</a></li>
	<li>
		<a href="">开发者</a>
		<div class="box clearfix">
			<div class="fn_left">
				<div>IBM开发者</div>
				<div>AI</div>
				<div>大数据与分析</div>
				<div>区块链</div>
				<div>云计算</div>
				<div>开源技术</div>
				<div>云/AI合作伙伴</div>
			</div>
			<div class="fn_right">
				<div>
					IBMk开发者
					快速链接
					<div>
					视频
					博客
					教程
					社区
					软件试用
					</div>
					<div>
						<h3></h3>
						<img src="" />
					</div>
				</div>
			</div>
		</div>
	</li>
	<li><a href="">支持</a></li>
	<li><a href="">工作机会</a></li>
</ul>