<template file="/header" />
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

  <div class="leftpanel">
	<template file="/menu" />
    <!-- leftpanelinner -->
  </div><!-- leftpanel -->

  <div class="mainpanel">


	<template file="/meminfo" />
      <!-- header-right -->


    <template file="/breadcrumb" />
<gt name="$location.layoutId" value="0">
<block id="layoutData" name="TemplateLayout" layoutId=0 perpage=1 />
</gt>
    <div class="contentpanel">
<div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">模板管理-新布局</h4>
        </div>
        <div class="panel-body panel-body-nopadding">
		
          
          <form id="roleForm" method="post" class="form-horizontal form-bordered">
            <input type="hidden" name="layoutId" value="{$layoutData.data.identity}" />
			
			
            <div class="form-group">
              <label class="col-sm-3 control-label">标题</label>
              <div class="col-sm-6">
                <input type="text" name="title" placeholder="标题" value="{$layoutData.data.title}" class="form-control">
              </div>
            </div>			
            <div class="form-group">             
			  <textarea id="layout_code_editor" name="code">{$layoutData.data.code}</textarea>   
            </div>
			<block id="themeList" name="TemplateTheme" />
            <div class="form-group">
                <label class="col-sm-3 control-label">主题</label>
                <div class="col-sm-6">
                  <select name="theme_identity" class="select2" data-placeholder="Choose One" required>
                    <option value="">选择</option>
					<volist id="theme" name="themeList.data">
						<option value="{$theme.identity}">{$theme.title}</option>
					</volist>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">备注</label>
              <div class="col-sm-6">
                <input type="text" name="remark" placeholder="备注" value="{$layoutData.data.remark}" class="form-control">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态</label>
                <div class="col-sm-6">
                  <select name="status" class="select2" data-placeholder="Choose One" required>
                    <option value="">选择</option>
                    <option value="0"<eq name="$layoutData['data']['status']" value="0"> selected="selected"</eq>>启用</option>
                    <option value="1"<eq name="$layoutData['data']['status']" value="1"> selected="selected"</eq>>禁用</option>
                  </select>
                </div>
            </div>
            

            
            
           
          
        </div><!-- panel-body -->
        
        <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				  <button type="submit" class="btn btn-primary">确认</button>&nbsp;
				  <a class="btn btn-default" href="/template/layout.html">取消</a>
				</div>
			 </div>
		  </div><!-- panel-footer -->
            
          </form>
        
      </div>
      

    </div><!-- contentpanel -->

  </div><!-- mainpanel -->

  <!-- rightpanel -->


</section>

  <link rel="stylesheet" href="/css/bracket/codemirror/codemirror.css" />
  <link rel="stylesheet" href="/css/bracket/codemirror/theme/ambiance.css">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/formatting.js"></script>
<script src="/js/codemirror/mode/xml.js"></script>
<script src="/js/codemirror/mode/javascript.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/1.0/template/layout_add.js"></script>
<template file="/footer" />