<?xml version="1.0" encoding="UTF-8"?>
<config>
	<debug>false</debug>
	<appid>852ac62d1aeb</appid>
	<secret>683b17852ac62d1aeb2806b9a741b68f</secret>
	<timezone>Asia/Shanghai</timezone>
	<locale>cn</locale>
	<domain>kaiminclan.com</domain>
	<style>default</style>
	<charset>utf8</charset>
	<name>海迅信息</name>
	<host>m,www,wechat</host>
	<license>C2FG9-N6J68-H8BTJ-BW3QX-RM3B3</license>
	<map>地图APPKEY</map>
	<auth>
		<admin>/admin/login.html</admin>
		<user>/admin/login.html</user>
		<client>/login.html</client>
		<supplier>/shop/login.html</supplier>
	</auth>
	<mobile>
		<auto>1</auto>
	</mobile>
	<copyright>
		<note>2018</note>
		<company>三竹技术</company>
	</copyright>
	<attach>
		<driver>aliyun</driver>
		<size>500*25</size>
		<type>jpg,png,gif,zip,htm</type>
		<local>
			<folder>./</folder>
		</local>
		<remote>
			<host>192.168.0.202</host>
			<folder>./</folder>
			<username>test</username>
			<password>test1234</password>
			<attach_url>http://img.rmys.com</attach_url>
		</remote>
		<aliyun>
			<appkey>LTAIhbqBxJVmH1yG</appkey>
			<secret>TiY6sMjmD0YMLtDNo1FHbsHsyuM2B0</secret>
			<endpoint>http://oss-cn-shenzhen.aliyuncs.com</endpoint>
			<bucket>remin-mall</bucket>
		</aliyun>
	</attach>
	<message>
		<wechat>
			<appkey></appkey>
			<secret></secret>
		</wechat>
		<mms>
			<host>http://smssh1.253.com/msg/send/json</host>
			<username>N471980_N5285501</username>
			<password>3Nx1dRHcAj93cc</password>
		</mms>
		<mail>
			<auth>true</auth>
			<host>smtp.qq.com</host>
			<port>25</port>
			<username>569262447@qq.com</username>
			<password>unuspjbbdrrnbfig</password>
			<source>569262447@qq.com</source>
			<from>桐鹰科技-信息技术中心</from>
			<charset>UTF8</charset>
		</mail>
	</message>
	<connect>
		<weixin>
			<appkey>wxfbc9393ad836698c</appkey>
			<secret>c5738f79d90e31e7d174f342d7affc45</secret>
			<wechat>
				<appkey>wx4883a47fcf39f52a</appkey>
				<secret>28bf6a385fc2ad787eb43b02e41bf422</secret>
			</wechat>
		</weixin>
		<weibo>
			<merchant>1492009162</merchant>
			<key>1492009162</key>
			<sslkey>./config/cert/wxpay/apiclient_key.pem</sslkey>
			<sslcert>./config/cert/wxpay/apiclient_cert.pem</sslcert>
			<notify></notify>
		</weibo>
		<qq>
			<merchant>1492009162</merchant>
			<key>1492009162</key>
			<sslkey>./data/apiclient_key.pem</sslkey>
			<sslcert>./data/apiclient_cert.pem</sslcert>
			<notify></notify>
		</qq>
	</connect>
	<program>
		<name>media</name>
		<description>资源库</description>
		<version>203</version>
		<help>http://help.kaiminclan.com/media.html</help>
		<support>http://support.kaiminclan.com/media.html</support>
		<upgrade>http://www.kaiminclan.com/checkVersion</upgrade>
	</program>
	<program>
		<name>workflow</name>
		<description>工作流</description>
		<version>203</version>
		<help>http://help.kaiminclan.com/media.html</help>
		<support>http://support.kaiminclan.com/media.html</support>
		<upgrade>http://www.kaiminclan.com/checkVersion</upgrade>
	</program>
	<extend>
		<name>gd</name>
		<version>2.0</version>
	</extend>
</config>
