<?xml version="1.0" encoding="utf-8"?>
<config>
	<driver>mysql</driver>
	<connections>
		<sqlite>
			<database>adsense_com</database>
		</sqlite>
		<mysql>
			<database>adsense_com</database>
			<prefix>pre</prefix>
			<charset>utf8</charset>
			<default>
				<item>
					<weight>1</weight>
					<host>47.93.184.56</host>
					<port>3389</port>
					<username>bamboo</username>
					<password>123456</password>
				</item>
			</default>
		</mysql>
		<mysqli>
			<database>adsense_com</database>
			<prefix>pre</prefix>
			<charset>utf8</charset>
			<default>
				<item>
					<weight>1</weight>
					<host>47.93.184.56</host>
					<port>3389</port>
					<username>bamboo</username>
					<password>123456</password>
				</item>
			</default>
		</mysqli>
	</connections>
</config>