<?xml version="1.0" encoding="UTF-8"?>
<config>
	<name>kaiminclan.com</name>
	<host>www,m</host>
	<license>1234-1234-1234-1234</license>
	<program>
		<name>media</name>
		<description>资源库</description>
		<version>203</version>
		<help>http://help.kaiminclan.com/media.html</help>
		<support>http://support.kaiminclan.com/media.html</support>
		<upgrade>http://www.kaiminclan.com/checkVersion</upgrade>
	</program>
	<program>
		<name>workflow</name>
		<description>工作流</description>
		<version>203</version>
		<help>http://help.kaiminclan.com/media.html</help>
		<support>http://support.kaiminclan.com/media.html</support>
		<upgrade>http://www.kaiminclan.com/checkVersion</upgrade>
	</program>
	<extend>
		<name>gd</name>
		<version>2.0</version>
	</extend>
</config>
