<?xml version="1.0" encoding="utf-8"?>
<config>
	<driver>file</driver>
	<connections>
		<file>
			<database>/session</database>
			<prefix>phpframe_</prefix>
			<lifetime>604800</lifetime>
			<path>/</path>
		</file>
		<sqlite>
			<database> /sqlite/session.sqlite</database>
			<prefix>phpframe_</prefix>
			<lifetime>604800</lifetime>
		</sqlite>
		<memcache>
			<pconnect>1</pconnect>
			<lifetime>604800</lifetime>
			<default>
				<item>
					<weight>1</weight>
					<host>127.0.0.1</host>
					<port>11211</port>
				</item>
			</default>
			<read>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</read>
			<write>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</write>
		</memcache>
		<memcached>
			<pconnect>1</pconnect>
			<lifetime>604800</lifetime>
			<default>
				<item>
					<weight>1</weight>
					<host>127.0.0.1</host>
					<port>11211</port>
				</item>
			</default>
			<read>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</read>
			<write>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</write>
		</memcached>
		<redis>
			<pconnect>1</pconnect>
			<lifetime>604800</lifetime>
			<default>
				<item>
					<weight>1</weight>
					<host>127.0.0.1</host>
					<port>11211</port>
				</item>
			</default>
			<read>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</read>
			<write>
				<item>
					<weight>1</weight>
					<host>127.0.1.1</host>
					<port>11211</port>
				</item>
			</write>
		</redis>
	</connections>
</config>